<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditBook</title>

</head>
<body>

<h1>EditBook</h1>
<br/>

<form th:action="@{/edit(id=${id}, cla_id=${cla_id})}" method="post">
    <div>
        <label>bookname</label>
        <div>
            <input type="text" name="book_name" id="book_name" placeholder="bookName">
        </div>
    </div>
    <div>
        <label>author</label>
        <div>
            <input type="text" name="author" id="author" placeholder="author">
        </div>
    </div>
    <div>
        <label>status</label>
        <div>
            <input type="radio" id="choice1" name="status" value="available">
            <label for="choice1">available</label><br>
            <input type="radio" id="choice2" name="status" value="borrowed">
            <label for="choice2">borrowed</label><br>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="edit" class="button">
            <input type="reset" value="reset" class="button">
            <a th:href="@{/adminlist}">back</a>
        </div>
    </div>


</form>

</body>
</html>